@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


button {
  height: 48px;
  width: 174px;
  border-radius: 4px;
}
.btn_login {
  background: #36357e;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  color: #fff;
  transition: 0.3s;
}
.btn_login:hover {
  background: #fe662e;
  color: #fff;
}
nav {
  height: 165px;
  width: 100%;
  background-color: #fe4400;
}

.logo-tx{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
}

.nome{
  color: #fe4400;
}


@media (max-width: 414px) {
  nav {
    height: 185px;
  }
  .btn_login {
    width: 120px;
  }
}


