a{
    color: #000;
    text-decoration: none;
}

a:hover{
    color: #000;
    text-decoration: none;
}

.user{
    width: 18px;
    margin-right: 0;
    padding-left: 0;
}

.imagem-sede{
    background-color: #55595c; 
    width: 100%; 
    color: #fff;
}

.imagem-sede img{
    width: 100%; 
    height:  250px;

}

.sede{
    margin-top: 5%;
}

.titulo{
    text-align: center;
}

@media (max-width: 991px) {
    .imagem-sede img{
        width: 100%; 
        height: auto;
    }
}
@media (max-width: 991px) {
    .imagem-sede img{
        width: 100%; 
        height:  auto;
    }
}

@media (max-width: 767px) {
    .imagem-sede img{
        width: 220px; 
        height: 300;
    }
}
 
@media (max-width: 477px) {
    .imagem-sede img{
        width: 220px; 
        height: 250px;
    }
}

@media (max-width: 424px) {
    .imagem-sede img{
        width: 392px; 
        height: 400;
    }
}

@media (max-width: 320px) {
    .imagem-sede img{
        width: 288px; 
        height: 320;
    }
}


